.container {
  padding: 3rem;
  max-width: 800px;
}

.header {
  font-size: 3rem;
}

.description {
  font-size: 2rem;
}

.links {
  display: flex;
  margin-top: 5rem;
  font-size: 1.5rem;
}

.links a {
  font-family: monospace;
  padding: 0.5rem 1.2rem;
  border: 0.2rem solid #ffffff30;
  border-radius: 1rem;
  transition: border 200ms ;
}

.links a:hover {
  border-color: #ffffff60;
}
